body{
    background-color:rgb(208, 236, 231 );
}
    img{
        width:500px;
        height:250px;
    }
    h1{
        color:rgb(38, 177, 227);
        font-size:70px;
    }
    #discover{
    color:rgb(145, 105, 26);
   font-size:40px;
    }
.resone-for-visit{
    color:#FFFFFF;
}
.natural-beauty{
    background:#FCF3CF;
}
.top-attraction{
    color:rgb(0, 255, 255);
    }
    .potala-palace{
        background-color: rgb(204, 204, 255);
    }
    #must-visit{
        color: rgb(255, 127, 80);
    }
    .unesco-world-heritage-site{
        background-color:rgb(133, 193, 233 );
        
    }